node_modules
.env
artifacts
cache
dist
typechain-types
coverage
/.vs/morry-token-smart-contract/FileContentIndex/9dfed823-c839-4ca0-87bc-291795f69ad4.vsidx
/.vs/morry-token-smart-contract/FileContentIndex/a7cf722d-45db-4fdd-84b1-a532383129e2.vsidx
/.vs/morry-token-smart-contract/FileContentIndex/7674aeef-a3af-49c7-b4e6-a429eff244ea.vsidx
